<body>
    <%- include('partials/sidebar.ejs')%>
    <div id="center-container">
        <div id="main-title">
            <h1> Login </h1>
        </div>
        <div id="search-bar-container">
            <p>Search:</p>
            <input>
        </div>


    </div>
    <script src="/scripts.js"></script>
</body>
</html>