<body>
    <%- include('partials/sidebar.ejs')%>
    <div id="center-container">
        <div id="main-title">
            <h1> Welcome to the my Bookshelf </h1>
        </div>
        <div id="content-container">
            <h2>yo</h2>
        </div>



    </div>
    <script src="/scripts.js"></script>
</body>
</html>